@font-face {
  font-family: "Knile";
  src: url('../assets/fonts/knile-regular-webfont.woff') format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Knile";
  src: url('~@/assets/fonts/knile-bold-webfont.woff') format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Grotesk";
  src: url('~@/assets/fonts/aktiv_grotesk_regular.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url('~@/assets/fonts/aktiv_grotesk_bold.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: icons;
  src: url('~@/assets/fonts/icons.woff') format("woff");
  font-weight: normal;
}
