@font-face {
  font-family: "Knile";
  src: url('https://echtzeit.taz.de/tazfonts/Knile-Regular.otf') format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Knile";
  src: url('https://echtzeit.taz.de/tazfonts/Knile-Bold.otf') format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Grotesk";
  src: url('https://echtzeit.taz.de/tazfonts/AktivGrotesk_Rg.ttf') format("truetype");
  font-weight: normal;
}


@font-face {
  font-family: "Grotesk";
  src: url('https://echtzeit.taz.de/tazfonts/AktivGrotesk.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: icons;
  src: url('~@/assets/fonts/icons.woff') format("woff");
  font-weight: normal;
}
