@import "variables";

@keyframes fullView {
  100% {
    width: 100%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.tazboard-shimmer-wrapper {
  width: 0;
  animation: fullView 0.5s forwards linear;
}

.tazboard-shimmer-animate {
  animation: shimmer 3s infinite;
  background: linear-gradient(to right, $gray-100 0%, $white 25%, $gray-100 36%);
  background-size: 2000px 100%;
  flex: 1;
}

