@import "variables";
@import "mixins";

.tazboard-dashboard-table-head {
  background-color: $taz-red;
}

.tazboard-dashboard-table-td-pubdate {
  font-size: 1.2rem;
}

.tazboard-dashboard-table-td-referrer-select {
  font-size: 1.2rem;
  font-weight: bold;
}

.tazboard-dashboard-table-th {
  color: $white;
  font-size: 1.4rem !important;
  // found no different way to overwrite default style
  border-top: none !important;
  background-position: center bottom !important;
  padding: 1rem !important;
  padding-bottom: 0.9em !important;
  text-align: center !important;
  vertical-align: top !important;
}

.tazboard-dashboard-table-th-black {
  color: $black;
}

.tazboard-dashboard-table-th-title {
  width: 100%;
}

.tazboard-dashboard-table-td-index {
  @include serif-font();
  @include light-text-shadow();
  font-size: 1.3rem;
  color: $gray-800;
}

.tazboard-dashboard-table-td-hits {
  @include serif-font();
  @include light-text-shadow();
  font-weight: bold;
  font-size: 2rem;
  color: $gray-800;
}

.tazboard-dashboard-table-row-headline-headline {
  @include serif-font();
  font-size: 1.4rem;
  color: $black;
  font-weight: bold;
  display: inline;

  &:hover {
    color: $black;
    cursor: pointer;
  }
}

.tazboard-dashboard-table-row-headline-kicker {
  font-size: 1rem;
  display: block;
  color: $gray-700;
}

.tazboard-dashboard-table-loading-control {
  min-height: 450px;
  flex-direction: column;
}

.tazboard-dashboard-table {
  th {
    border: none;
  }
}

.tazboard-dashboard-table-referrer-select {
  color: $white;
  text-align: center;
  position: relative;
  top: -11px;
}

.tazboard-dashboard-table-th-referrer-select {
  min-width: 10rem;
}

.tazboard-dashboard-table-th-stacked-with-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tazboard-dashboard-table-row:not(.b-table-details) {
  &:hover {
    background-color: $gray-500 !important;
    cursor: pointer;
  }
}
