
.trend--2:before {
  color: red;
  font-family: icomoon, fantasy;
  content: "\ea36";
}

.trend--1:before {
  color: red;
  font-family: icomoon, fantasy;
  content: "\ea37";
}

.trend-0:before {
  color: yellow;
  font-family: icomoon, fantasy;
  content: "\ea34";
}

.trend-1:before {
  color: green;
  font-family: icomoon, fantasy;
  content: "\ea33";
}

.trend-2:before {
  color: green;
  font-family: icomoon, fantasy;
  content: "\ea32";
}

