
.tazboard-trend--2:before {
  color: red;
  font-family: icons, fantasy;
  content: "\ea36";
}

.tazboard-trend--1:before {
  color: red;
  font-family: icons, fantasy;
  content: "\ea35";
}

.tazboard-trend-0:before {
  color: yellow;
  font-family: icons, fantasy;
  content: "\ea34";
}

.tazboard-trend-1:before {
  color: green;
  font-family: icons, fantasy;
  content: "\ea33";
}

.tazboard-trend-2:before {
  color: green;
  font-family: icons, fantasy;
  content: "\ea32";
}

