@import '~bootstrap/scss/functions.scss';
@import '~bootstrap/scss/variables.scss';

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
);

$taz-red: #D50E2F;
$taz-red-light: #EF163A;
$taz-blue: #7DD2D2;
$taz-highlight: #F7F2A1;
$taz-archive: #90EE90;

$gray-100: #F6F6F6;
$gray-200: #EEECEC;
$gray-300: #EFEFEF;
$gray-400: #D9D9D9;
$gray-500: #CBC7C7;
$gray-600: #BFBFBF;
$gray-700: #858585;
$gray-800: #5E5E5E;

$font-family-sans-serif: "Grotesk", sans-serif;
$font-family-serif:      "Knile", serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

$b-table-sort-icon-bg-not-sorted: url('../assets/sort-none.svg');
$b-table-sort-icon-bg-ascending: url('../assets/sort-asc.svg');
$b-table-sort-icon-bg-descending: url('../assets/sort-desc.svg');
$b-table-sort-icon-bg-width: 3.2rem;
$b-table-sort-icon-bg-height: 3.2rem;
